/*
 * SCREEN STYLE for webcam viewer
 */
/* ========== Global override ========== */
body {
    background-color:   #1c1c1c;
    margin:             0;
    padding:            0;
    font-family:        sans-serif;
}

h1 {
    margin:             0;
    padding:            10px;
}
h1 span {
    color:              white;
}
h1 span.live {
    background-color:   red;
}
h1 span.timelapse {
    background-color:   blue;
}
h1 span.motion {
    background-color:   green;
}

h2 {
    margin:		8px 0 3px 0;
    padding:            3px 5px;
    font-size:          large;
    color:              #1c1c1c;
    border-bottom:      3px #1c1c1c solid;
}

p {
    margin-left:        10px;
}

/* ========== Classes ========== */
.small {
    font-size:          x-small;
}

.center {
    margin:             0 auto; /* centering */
    text-align:         center;
}

.inline {
    display:            inline;
}

.gray {
    color:              gray;
}

.control {
    margin:             5px;
    line-height:        1.9em;
}
.control table {
    margin:             5px auto; /* centering */
    text-align:         center;
}
.control td {
    background-color:   silver;
    padding:            4px 6px;
    line-height:        1.0em;
}
.control a {
    color:              black;
    font-weight:        bold;
    text-decoration:    none;
}

.view {
    text-align:         center;
    vertical-align:     bottom;
    background-color:   black;
}
.view li {
    list-style:         none;
}
.view img {
    vertical-align:     bottom; /* delete descender */
}

a.button {
    padding:            3px 8px;
    background-color:   silver;
    cursor:             pointer;
}

.footer p {
    margin:		0;
    padding:            5px;
    color:              gray;
    text-align:         center;
}
.footer a {
    color:              gray;
    text-decoration:    none;
}


/* ========== IDs ========== */
#wrapper {
    margin:             0 auto; /* centering */
    width:              640px;
    background-color:   white;
}

#navigation {
    float:              right;
    font-size:          large;
    margin-right:       5px;
}
#navigation ul {
    padding:            0;
}
#navigation li {
    list-style:         none;
    display:            inline;
    margin-right:       7px;
}
#navigation a {
    text-decoration:    none;
    color:              gray;
    padding:            3px;
}
#navigation a:hover {
    text-decoration:    none;
    color:              white;
}
#navigation a.camera-switch {
    color:              white;
    background-color:   black;
}
#navigation a.live {
    background-color:   #ffccff;
}
#navigation a.timelapse {
    background-color:   #ccffff;
}
#navigation a.motion {
    background-color:   #ccffcc;
}
#navigation a:hover.camera-switch {
    background-color:   gray;
}
#navigation a:hover.live {
    background-color:   red;
}
#navigation a:hover.timelapse {
    background-color:   blue;
}
#navigation a:hover.motion {
    background-color:   green;
}

#footer p {
    margin:		0;
    padding:            5px;
    color:              gray;
    text-align:         center;
}
#footer a {
    color:              gray;
    text-decoration:    none;
}

#menu {
    font-size:          large;
}
#menu li {
    display:            inline;
    padding:            3px;
}
#menu a {
    color:              white;
    text-decoration:    none;
}
#menu li.camera {
    font-weight:        bold;
}
#menu li.live {
    background-color:   red;
}
#menu li.timelapse {
    background-color:   blue;
}
#menu li.motion {
    background-color:   green;
}
